.outer{
    margin: 20px 0px 20px 0px;
    display: flex;
  justify-content: center;
}

.category {

    width: 65%;
    text-align: center;
    max-height: 80px;

    &-categoryBtn{
 
        width: 200px;
        height: 30px;
        border-radius: 15px;
        margin: 10px 30px 10px 30px;
        border: none;
   
        display: inline-block;
        background-color: #f2f2f2;
        &:hover {
    
            background-color: #e5e5e5;
           
          }
    }


}