<div class="outer">
    <div class="category">
        <button (click)="filter($event.target.innerText)" class="category-categoryBtn">Infrastructure Modernization</button>
        <button (click)="filter($event.target.innerText)" class="category-categoryBtn">Application Modernization</button>
        <button (click)="filter($event.target.innerText)" class="category-categoryBtn">Data Management</button>
        <button (click)="filter($event.target.innerText)" class="category-categoryBtn">Smart Analytics</button>
        <button (click)="filter($event.target.innerText)" class="category-categoryBtn">Artificial Intelligence</button>
        <button (click)="filter($event.target.innerText)" class="category-categoryBtn">Security</button>
        <button (click)="filter($event.target.innerText)" class="category-categoryBtn">Productivity & Collaboration</button>
        <button (click)="filter($event.target.innerText)" class="category-categoryBtn">All</button>
        </div>
</div>


