<div class="outer">
    <div class="category">
        <button class="category-categoryBtn">Infrastructure Modernization</button>
        <button class="category-categoryBtn">Application Modernization</button>
        <button class="category-categoryBtn">Data Management</button>
        <button class="category-categoryBtn">Smart Analytics</button>
        <button class="category-categoryBtn">Artificial Intelligence</button>
        <button class="category-categoryBtn">Security</button>
        <button class="category-categoryBtn">Productivity & Collaboration</button>
        
        </div>
</div>


