<div class="search-container">
  <img
    routerLink="/"
    src="/assets/images/Demo Factory.svg"
    class="search-logo"
  />

  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <input
      class="search-input"
      name="search"
      ngModel
      placeholder="Search 100+ partner demos"
    />
    <button class="search-button"><i class="fas fa-search"></i></button>
  </form>

  <a
    *ngIf="!authService.loggedIn()"
    routerLink="/user/login"
    class="btn btn-success"
    >Login</a
  >
  &nbsp;
  <a
    *ngIf="!authService.loggedIn()"
    routerLink="/user/register"
    class="btn btn-primary"
    >Register</a
  >
  &nbsp;
  <a
    *ngIf="authService.loggedIn()"
    style="cursor: pointer"
    class="btn btn-secondary"
    (click)="authService.logoutUser()"
    >Logout</a
  >
  &nbsp;
</div>
