

  .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto;

  }


  .game {
  width: 280px;
  margin: 10px;
  height: 350px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #ffffff;

  box-shadow: 4px 3px 8px 0px rgba(1, 0, 88, 0.22);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgba(0, 0, 0, 0.26);
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: #ffffff;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 177px;

  }

  &-name {
    color: #4285F4 ;
    font-weight: 700;
    max-width: 240px;
    min-height: 25px;
    font-size: 22px;

    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

  }

  &-desc{
    min-height: 50x;
    white-space:normal;
    overflow:visible;
    text-overflow:ellipsis;

   
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
  }
}