<div class="details">

    <div class="game-content">
      <div class="details-wrapper">



        <div class="info">

          <mat-grid-list cols="10" rowHeight="500px">
            <mat-grid-tile class="left " colspan='7'>
              <div class="title">
                <h1 class="header">{{ demo.name }}</h1>
                <div class="content">
                  {{demo.description}}
                </div>
              </div>
          
            </mat-grid-tile>
            <mat-grid-tile class="right" colspan='3'>
              <div class="thumbnails">
                <img class="ss" src="assets/images/partners/{{ demo.partners }}_hero.png">
              </div>
              <div class="btnGroup">
                <td>
      
                  <tr><a style="text-decoration: none; " class="btn" [href]='getUrl(demo.liveDemo)'>Live Demo</a></tr>
                  <tr><a style="text-decoration: none; " class="btn" [href]='getUrl(demo.deployDemo)'>Deploy Demo</a></tr>

            
                </td>
              </div>
              <div class="misc"> 
                Source
              </div>
              
         
       
      
      
            </mat-grid-tile>
          </mat-grid-list>

        </div>>
      </div>
    </div>
  </div>
  